@page "/Sobre"
<PageTitle> Sobre mim</PageTitle>

<h1>
    Sobre mim
</h1>
<h3>
    Coisas que eu gosto...:
</h3>
<p>
    gatos
</p>
<p>
    astronomia
</p>
<p>
    stray kids
</p>
<p>
    bts
     
</p>
<h3
    >Sou uma pessoa...:
</h3>
<P>
    Curiosa Inveterada
</P>
<P>
    Amiga Que Escuta de Verdade
</P>
<p>
    Resiliente e Paciente
</p>
<p>
    Resiliente e Paciente
</p>
<p>
    Colaboradora de Equipe
</p>
